nav {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 2px black;
}


.dropdown-item:active {
  background-color: #7c7c7c;
}

p {
  margin: 0;
  padding: 0;
}

#SearchBar {
  border: 1px solid rgb(152, 152, 152);
}

#logoSite {
  min-width: 100%;
  height: 100%;
}

#logo {
  padding: 0 !important;
  height: 100px;
  margin: 0 2%;
}

#logoTroisBarres {
  height: 65px;
  cursor: pointer;
}


.bouttonsColonne {
  z-index: 1;
  position: fixed;
  float: left;
  height: calc(100vh - 110px);
  width: 200px;
  min-width: 200px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}

.btn {
  width: 60%;
  height: 75px;
  margin: 10% 20%;
  display: block;
  border: 1px solid rgb(46, 46, 46);
}

.btn:focus {
  box-shadow: 0 0 0 .2rem rgba(123, 123, 123, .25);
}

.container-colonne {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-ligne {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

:root {
  --additionnal-padding: 200px;
  --compteur : 0;
}


.corps {
  font-family: inherit;
  /* padding: 0 15%; */
  text-align: center;

  background-image: url("../image/ville-morlaix-aerienne.jpg");
  background-size: cover;
  
}




.elem {
  padding-left: 2em !important;
  padding-right: 2em !important;
  background-color: rgba(255,255,255,0.8); 
  transition: 1s;
}
.elem:hover {
  background-color: rgba(255,255,255,0.95); 

}

.bienvenue {
  padding: 10% 0;
  order: 1;
}

.bienvenue p {
  font-size: 1em;
  padding-top: 2%;
}

.article {
  padding: 3% 0;
  text-align: center;
  order: 3;
}

.article p {
  padding-top: 2%;
  text-align: justify;
  font-size: 1em;
}

.carte-meteo {
  order: 2;
  justify-content: space-around;
}


.carte svg {
  height: 390px;
  width: 350px;
  align-self: center;
}

.carte path:hover {
  fill: #44362e;
}

#logoMeteo {
  width: 75%;
  align-self: center;
}

.calendrier {
  order: 4;
}

.liens {
  justify-content: space-around;
  order: 5;
  flex-wrap: wrap;
}

.liens h5 {
  padding: 3% 0;
}

.logo-network {
  width: 50px;
  margin: 2em auto;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(230, 230, 230, 0.9);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.arrow-up {
  width: 2em;
}

footer {
  background-color: rgb(177, 177, 177);
  font-size: 20px;
  text-align: center;
  padding: 8em 0;
}


@media screen and (max-width: 600px) {
  .carte-meteo {
    flex-direction: column
  }

  .corps {
    padding: 7%;
  }

  #logoMeteo {
    width: 55%;
  }

  #myBtn {
    bottom: 8px;
    right: 8px;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}


.dropdown-menu {
  left: initial !important;
}